
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    /* background-color: lightgreen; */
    padding: 0;
}

/* Header */

.header {
    padding: 0 5%;
    width: 100%;
    background-color: lightgray;
    height: 2rem;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 5;
}

.header-ul {
    /* background-color: yellowgreen; */
    width: 70%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;

}

.home {
    font-size: 1.5rem;
    color: green;

}

.active {
    background-color: lightgreen;
    padding: 0 .1rem;
    border-radius: .3rem;
}

.bgc-color {
    background-color: lightgreen;
    opacity: .3;
}

/* Banner Section */

.banner-container {
    height: 25rem;
    /* background-color: gray; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;


}

.banner {
    /* background-color: yellowgreen; */
    width: 90%;
    height: 24rem;
    position: relative;
    overflow: hidden;
}

.NextPrev {
    padding: .5rem 2rem;
    width: 100%;
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 10rem;
}

.prev,
.next {
    padding: 0 .5rem;
    background-color: lightgreen;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 50%;
    opacity: .9;
    cursor: pointer;
}

.carousel {
    /* background-color:brown; */
    width: 600%;
    display: flex;
    margin-left: -100%;

}

.slide {
    /* background-color: yellow; */
    height: 23rem;
    width: 16.66%;
}

.slide-image {
    height: 100%;
    width: 100%;
}

/* Table- Section */
.table-container {

    /* background-color: royalblue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-header {
    padding: .3rem 0;
    width: 90%;
    /* background-color: gray; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* column-gap: 35%; */

}

.search {
    text-indent: .3rem;
    font-size: .9rem;
    border-radius: .3rem;
    border: .1rem solid lightgray;
    outline: none;
}

.pagination-btn {
    padding: 0 .3rem;
    width: 90%;
    background-color: lightgreen;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: .3rem;
}

.page-btn {
    padding: .1rem .3rem;
}

.number-btn {
    padding: 0;

}

.p-number {
    padding: 0 .3rem;
}

.table {
    width: 90%;
    /* background-color: lightgray; */
    border-collapse: collapse;
}

th,
td {
    padding: .3rem;
    border: .1rem solid gray;
    text-align: center;

}


/* Products section */

.products-parent {
    padding-top: 1rem;

    /* background-color: rgb(135, 153, 135); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.products-title {
    padding-bottom: 1rem;
    text-align: left;
    color: green;
}

.products-banner {
    width: 90%;
    /* background-color: lightgreen; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: .7rem;
}

.products-slide {
    /* background-color:white; */
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: .1rem solid rgb(240, 227, 227);
    border-radius: .3rem;


}

.products-image {
    padding: .5rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-img {

    height: 7rem
}

.products-p1 {
    color: royalblue;
    font-size: .9rem;
}

.products-p2 {
    color: green;
    font-size: .9rem;
}

/* Scroll Top Section */

.scroll-top {
    padding: .3rem .7rem;
    background-color: gray;
    opacity: .6;
    position: fixed;
    left: 2%;
    top: 85vh;
    border-radius: 50%;
    color: white;
    font-size: 1.5rem;
    display: none;

}

/* Footer Section */

.footer-parent {
    padding: 1% 5%;
    /* background-color: green;    */
    height: 20rem;
}

.footer-body {
    padding-top: 1%;
    /* background-color:rgb(206, 201, 201); */
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5%;
    border: .1rem solid rgb(216, 213, 213);


}

.footer {
    background-color: rgb(36, 34, 34);
    height: 10%;
}

.footer-title {
    color: white;
}

.footer-body-left {
    width: 25%;
    /* background-color: lightpink;s*/
    display: flex;
    flex-direction: column;
    row-gap: .3rem;
    padding-left: .9rem;
}

.footer-body-rigth {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.quicklink-ul {
    margin-top: .3rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: .3rem;
}
.google-map{
    width: 100%;
    height: 90%;
}

/* Pointer for Header and Footer Links */
.pointer {
    cursor: pointer;
}

/* Modal- Notification Section */
.modal-parent {

    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: lightblue;
    opacity: .6;
    position: absolute;
    top: 0;
    display: none;
}

.notification {
    padding-left: 1rem;
    margin-top: 3rem;
    width: 35%;
    height: 65%;
    display: flex;
    justify-items: center;
    flex-direction: column;
    row-gap: .9rem;
    background-color: yellow;
    font-size: 1.5rem;
    font-weight: 700;
    color: maroon;


}

.notification>h1 {
    color: green;
    text-align: center;
}

.close-btn {
    width: 7%;
    margin-left: 93%;
    color: maroon;
    font-size: 1.5rem;
    font-weight: 900;
    background-color: whitesmoke;
    outline: none;
    border: .1rem solid rgb(46, 46, 19);
    border-radius: .3rem;
}

/* Form contact Section */
.form-container
{
    padding-top: 5rem; 
    margin-left: 60%;
    width: 25%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35vh;
    position: absolute;
    top: 0;
    opacity: .9;
    display: none;
}

.form-parent {
    margin-top: 3rem;
    background-color: rgb(102, 129, 212);
   
}

.form {
   
    padding: .5rem;
    display: flex;
    flex-direction: column;
    row-gap: .3rem;

    background-color: rgb(102, 129, 212);
}

.form-inp {
    height: 2rem;
    text-indent: .3rem;
    border-radius: .3rem;
}

.form-text {
    height: 5rem;
}

.form-submit {
    padding: .2rem;
    width: 3.5rem;
    border-radius: .3rem;
}

.closeForm-btn {
    width: 6%;
    margin-left: 94%;
    color: maroon;
    font-size: 1.3rem;
    font-weight: 900;
    background-color: whitesmoke;
    outline: none;
    border: .1rem solid rgb(46, 46, 19);
    border-radius: .3rem;

}


/* Media Query */
@media (max-width:810px){

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        /* font-style: normal; */
        font-size: .8rem;
    }

  
    .header {
        /* padding: 0 5%; */
        width: 100%;
        background-color: lightgray;
        height: 2rem;
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 5;
    }
    
    .header-ul {
        /* background-color: yellowgreen; */
      
        width: 100%;     
        display: flex;
        flex-wrap: wrap;      
    
    }





/* Table- Section */
.table-container {

    /* background-color: royalblue; */
    margin: 0 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-header {
    padding: .3rem 0;
    width: 100%;
    /* background-color: gray; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* column-gap: 35%; */

}

.search {
    text-indent: .3rem;
    font-size: .9rem;
    border-radius: .3rem;
    border: .1rem solid lightgray;
    outline: none;
}

.pagination-btn {
    padding: 0 .3rem;
    width: 100%;
    background-color: lightgreen;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: .3rem;
}

.page-btn {
    padding: .1rem .3rem;
}

.number-btn {
    padding: 0;

}

.p-number {
    padding: 0 .3rem;
}

.table {
    width: 100%;
    /* background-color: lightgray; */
    border-collapse: collapse;
   
}

th,
td {
    padding: .1rem;
    border: .1rem solid gray;
    text-align: center;
    font-size: .6rem;
  

}


/* Products section */

.products-parent {
    padding-top: 1rem;

    /* background-color: rgb(135, 153, 135); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.products-title {
    padding-bottom: 1rem;
    text-align: left;
    color: green;
}

.products-banner {
    width: 100%;
    /* background-color: lightgreen; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: .7rem;
}

.products-slide {
    /* background-color:white; */
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: .1rem solid rgb(240, 227, 227);
    border-radius: .3rem;


}

.products-image {
    padding: .5rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-img {

    height: 7rem
}

.products-p1 {
    color: royalblue;
    font-size: .9rem;
}

.products-p2 {
    color: green;
    font-size: .9rem;
}

/* Scroll Top Section */

.scroll-top {
    padding: .3rem .7rem;
    background-color: gray;
    opacity: .6;
    position: fixed;
    left: 2%;
    top: 85vh;
    border-radius: 50%;
    color: white;
    font-size: 1.5rem;
    display: none;

}

/* Footer Section */

.footer-parent {
    padding: 1%;
    /* background-color: green;    */
    height: 15rem;
}

.footer-body {
    padding-top: 1%;
    /* background-color:rgb(206, 201, 201); */
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5%;
    border: .1rem solid rgb(216, 213, 213);


}

.footer {
    background-color: rgb(36, 34, 34);
    height: 10%;
}

.footer-title {
    color: white;
}

.footer-body-left {
    width: 22%;
    /* background-color: lightpink;s*/
    display: flex;
    flex-direction: column;
    row-gap: .8rem;
    padding-left: .1rem;
}
.footer-email{
    font-size: .6rem;
}

.footer-body-rigth {
    width: 73%;
    display: flex;
    flex-direction: row;
   column-gap: 1rem;


}

.quicklink-ul {
    margin-top: .3rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}
.google-map{
    width: 100%;
    height: 90%;
}
/* Pointer for Header and Footer Links */
.pointer {
    cursor: pointer;
}

/* Modal- Notification Section */
.modal-parent {

    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: lightblue;
    opacity: .9;
    position: absolute;
    top: 0;
    display: none;
}

.notification {
    padding-left: 1rem;
    margin-top: 5rem;
    width: 75%;
    height: 40%;
    display: flex;
    justify-items: center;
    flex-direction: column;
    row-gap: .9rem;
    background-color: yellow;
    font-size: 1.5rem;
    font-weight: 700;
    color: maroon;
   }

.notification>h1 {
    color: green;
    text-align: center;
    font-size: 1.5rem;
}
.notification>p {
    font-size: 1.3rem;
};

.close-btn {
    width: 7%;
    margin-left: 93%;
    color: maroon;
    font-size: 1.5rem;
    font-weight: 900;
    background-color: whitesmoke;
    outline: none;
    border: .1rem solid rgb(46, 46, 19);
    border-radius: .3rem;
}

/* Form contact Section */

.form-container
{
    padding-top: 5rem; 
    margin-left: 15%;
    width: 75%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 16rem;
    position: absolute;
    top: 0;  
    display: none;
}

.form-parent {
    margin-top: 3rem;
    background-color: rgb(102, 129, 212);
   
}

.form {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    row-gap: .3rem;

    background-color: rgb(102, 129, 212);
}

.form-inp {
    height: 2rem;
    text-indent: .3rem;
    border-radius: .3rem;
    font-size: 1rem;
}

.form-text {
    height: 5rem;
}

.form-submit {
    padding: .2rem;
    width: 3.9rem;
    border-radius: .3rem;
    font-size: .9rem;
}

.closeForm-btn {
    width: 9%;
    margin-left: 91%;
    color: maroon;
    font-size: 1.3rem;
    font-weight: 900;
    background-color: whitesmoke;
    outline: none;
    border: .1rem solid rgb(46, 46, 19);
    border-radius: .3rem;

}



}